.about-wrapper {
  line-height: 1.7;
  font-size: 1.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 4rem;
  padding-top: 5rem;
}

.about-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.about-title .line-color {
  margin: 0;
}

.about-title * {
  margin: 0;
}

.about-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.about-image {
  height: auto;
}

.about-image img {
  height: 24rem;
  width: auto;
}

.about-paragraph {
  white-space: pre-line;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.about-paragraph span {
  margin-bottom: 1rem;
}

.line {
  display: block;
  opacity: 0;
  transform: translateX(40px);
  animation: slideIn 0.6s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
