* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Inter, sans-serif;
  color: #222;
  line-height: 1.5;
  font-size: 15px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/12.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.header .logo img {
  height: 50px;
}

.header .header-right {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  max-width: 66.66vw;
}

.header .header-right .nav {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  max-width: 60vw;
}

.header-right .nav div {
  color: white;
  font-weight: 600;
}

.header .nav div:hover {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.header-content {
  max-width: 60vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: left;
  text-align: left;
  padding: 6rem 3rem;
}

.header-content .slogan {
  font-size: 44px;
  padding-bottom: 4rem;
  font-weight: 800;
}

.form-btn {
  background-color: #ffffff;
  color: #000;
  border-color: #ffffff;
  padding: 0.5rem 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.form-btn:hover {
  color: #ffffff;
  background-color: #272727;
  border-color: #272727;
  transform: translateY(-1px);
}

.footer {
  background-color: #272727;
  color: #ccc;
  text-align: center;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  padding: 1rem 3rem;
}

.footer .footer-left {
  width: 70vw;
  padding-right: 7rem;
}

.footer .footer-left .footer-logo {
  padding-bottom: 1rem;
}

.footer .footer-content .footer-right {
  width: 30vw;
  flex: 1;
}

.footer .footer-right h3 {
  font-size: medium;
  margin: 0%;
}

.footer .footer-right .footer-nav .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
}

.footer .footer-right .footer-nav .nav div {
  color: white;
  transition: opacity 0.2s ease;
}

.footer .footer-note {
  background-color: #111;
  padding: 1rem;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    gap: 1rem;
  }

  .header .nav {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .part1 h1 {
    font-size: 2rem;
  }
}
