* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  color: #222;
  line-height: 1.5;
  font-size: 16px;
}

h2 {
  font-size: xx-large;
  font-weight: 500;
}

.desktop-nav {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1240px) {
  .about-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.3)),
      url("../assets/img12.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
  }

  .about-image {
    display: none;
  }

  .about-paragraph {
    width: auto;
    padding-left: 2rem;
  }
}

@media (max-width: 880px) {
  .hamburger {
    display: flex;
    margin-top: 44px;
  }

  .header-right.desktop-nav {
    display: none;
  }

  .header {
    position: relative;
    z-index: 10;
  }

  .mobile-nav {
    position: fixed;
    top: 110px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    z-index: 999 !important;
  }

  .mobile-nav * {
    position: relative;
    z-index: 999 !important;
  }

  .mobile-nav div {
    color: whitesmoke;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  .mobile-nav div:hover {
    opacity: 0.7;
  }

  .header-content {
    max-width: 100vw;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1 !important;
  }

  .header-content .subtitle {
    max-width: 70%;
    text-align: center;
  }

  .projects-content {
    padding: 2rem 2rem;
  }

  .projects-sheet {
    padding: 2rem 1rem;
    height: auto;
  }

  .projects-inner {
    padding: 0;
  }

  .carousel-item {
    min-width: 200px;
    padding: 15px;
  }

  .projects-inner h2 {
    font-size: 32px;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-title {
    width: 100%;
  }

  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact-info > div:nth-child(2) {
    width: 50%;
  }

  .contact-info > div:nth-child(3) {
    width: 45%;
  }

  .contact-item .line-color {
    margin-top: 10px;
  }

  .contact-item:first-child .line-color {
    margin-top: 3rem;
  }

  .contact-form {
    width: 100%;
  }

  .footer .footer-left {
    padding-right: 2rem;
  }

  .footer .footer-left div {
    width: 100%;
  }
}

@media (max-width: 531px) {
  .about-wrapper {
    flex-direction: column;
    padding: 4rem;
  }

  .about-paragraph {
    padding: 0;
    margin-top: 1rem;
  }

  .contact-wrapper {
    padding: 2rem 2rem;
  }

  .contact-info {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .contact-info .phone div {
    flex-direction: column;
  }

  .contact-info .phone div div {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .contact-info > div:nth-child(2) {
    width: 100%;
  }

  .contact-info > div:nth-child(3) {
    width: 100%;
  }

  .contact-form-line {
    flex-direction: column;
  }

  .contact-form-line div {
    width: 100%;
  }

  .checkbox {
    flex-direction: row;
  }
}
