.footer {
  background-image: url("../assets/logo-bg.jpg");
  background-size: cover;
  color: #ccc;
  text-align: center;
}

.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  padding: 2rem 3rem;
}

.footer .footer-left {
  width: 70vw;
  padding-right: 7rem;
}

.footer .footer-left div {
  width: 70%;
}

.footer .footer-left .footer-logo {
  padding-bottom: 1rem;
  height: 6rem;
  width: auto;
}

.footer .footer-content .footer-right {
  width: 30vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer .footer-right h3 {
  font-size: medium;
  margin: 0%;
}

.footer .footer-right .footer-nav .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
}

.footer .footer-right .footer-nav .nav div {
  color: whitesmoke;
  transition: opacity 0.2s ease;
  margin-bottom: 0.5rem;
}

.footer .footer-note {
  background-color: #111;
  padding: 1rem;
}
