.privacy-content {
  padding: 2rem 6rem;
}

.privacy-content p {
  display: flex;
  flex-direction: column;
}

.privacy-content > p:nth-of-type(2) {
  flex-direction: row;
  align-items: baseline;
}

.privacy-content > p:nth-of-type(3) {
  display: block;
}

.privacy-content p span {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.privacy-content a {
  font-weight: 600;
  color: rgb(16, 99, 151);
  transition: 0.2s ease;
}

.privacy-content a:hover {
  font-weight: 600;
  color: rgb(12, 149, 235);
}
